
@{
    Layout = null;
}

@Model Persona;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @TempData["usuario"]

        <br />

        @Model
        @{
            ASPNET.Models.Persona p=(ASPNET.Models.Persona)Model;
        }

        <br/>

        @Model.Nombre;

        <br />


        
    </div>
</body>
</html>
